.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 5px;
  left: 12px;
  height: 78px !important;
  width: 78x !important;
  max-width: unset !important;
  max-height: unset !important;
}